@import './base.css';
#app{
    width: 100%;
    height: 100vh;
}
.date-pic-temp{
    width: 300px;
}

button, input {
    border: none;
    outline: none;
    background: none;
    padding: 12px 24px;
    color: #000;
    cursor: pointer;
  }
  
  .unique-label {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #002;
    padding: 6px 100px 6px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .unique-date-picker {
    position: absolute;
    border: 1px solid #002;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  .unique-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .unique-dropdown {
    padding: 10px;
    cursor: pointer;
  }
  
  .unique-body {
    text-align: center;
  }
  
  .unique-weekdays, .unique-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .unique-weekday, .unique-day {
    padding: 10px;
    font-size: 10px;
  }
  
  .unique-day {
    cursor: pointer;
    border-radius: 5px;
  }
  
  .unique-day:hover {
    background-color: #f0f0f0;
  }
  
  .unique-today {
    font-weight: bold;
    border:1px solid #ccc;
  }
  
  .unique-selected {
    background-color: #002;
    color: #fff;
  }
  
  .unique-not-current {
    color: #999;
  }
  
  .unique-years, .unique-months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .unique-year, .unique-month {
    padding: 10px;
    cursor: pointer;
  }
  
  .unique-year:hover, .unique-month:hover {
    background-color: #f0f0f0;
  }
/* Multiselect */

.unique-select-container {
    position: relative;
    width: 250px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
  }
  
  .unique-select-container span {
    display: inline-block;
  }
  
  .unique-arrow-up {
    transform: rotate(180deg);
  }
  
  .unique-arrow-down {
    transform: rotate(0deg);
  }
  
  .unique-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
  }
  
  .unique-options label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .unique-options label:hover {
    background: #ccc;
  }
  
  .unique-options label > div {
    cursor: pointer;
  }
  
  .unique-select-values {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    overflow: hidden;
    width: calc(100% - 24px);
  }
  
  .unique-select-values > span {
    width: auto;
  }